/* Forms & Submit */

form {
    width: 100%;
    max-width: 400px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

input,
textarea {
    width: 100%;
    padding: 12px;

    border: 1px solid gray;
    border-radius: var(--radius);

    background: var(--input-bg);
    box-shadow: inset 0 0 5px #fff;
}

button {
    margin-top: 8px;
    padding: 10px 16px;

    font-size: 1.125rem;
    cursor: pointer;

    background: #2c2c2c;
    color: var(--text);

    border: 1px solid var(--text);
    border-radius: var(--radius);

    box-shadow: var(--glow);

    transition: var(--transition);
}

button:hover,
button:focus-visible {
    background:#616161;
    box-shadow:var(--glow);
}

/* Booking */

.booking {
    margin-bottom: 10px;
}

.booking h2 {
    margin-bottom: 16px;
}

.service {
    display: grid;
    grid-template-columns: 15px 320px 120px 120px;

    align-items: start;
    justify-content: center;

    column-gap: 15px;

    padding: 10px 0;
    margin: 10px auto;

    border-radius: var(--radius);
}

.name,
.time,
.price {
    font-size: 20px;

    text-align: center;
    font-weight: lighter;
    font-style: oblique;
}

/* Radio buttons / confirmation buttons */

input[type="radio"] {
    appearance: none;
    margin-left: -100px;
    justify-self: start;

    width: 20px;
    height: 20px;

    border: 2px solid var(--text);
    border-radius: 25%;

    background: transparent;

    transition: var(--transition);
    box-shadow: var(--shadow);
}

input[type="radio"]:checked {
    box-shadow: var(--glow20)
}

input[type="radio"]:not(:checked):hover {
    box-shadow: var(--glow);
}